<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>login</title>
</head>

<body class="bg-gradient-to-br from-gray-900 via-gray-800 to-black min-h-screen flex flex-col justify-between">

  
  <nav id="navbar" class="top-0 right-0 left-0 bg-slate-900 h-16"></nav>

  <div class="h-full flex justify-center items-center px-4 py-8">

    
    <div class="hidden lg:flex w-2/4 justify-center items-center">
      <img class="w-3/4" src="/img/Login.svg" alt="Registro" />
    </div>

    <form class="flex flex-col gap-4 bg-gray-800 bg-opacity-90 p-8 rounded-3xl shadow-2xl w-full lg:w-2/4 border-t-4 border-red-600 text-white">

      <h1 class="text-3xl font-extrabold text-center mb-4">Iniciar sesión</h1>

      
      <div class="flex flex-col gap-2">
        <label for="email-input" class="font-bold">
          Correo <span class="text-red-500">*</span>
        </label>
        <input 
          type="email"
          id="email-input"
          name="email-input"
          autocomplete="off"
          
          class="rounded-lg p-3 bg-gray-700 text-white border border-gray-600 focus:ring-2 focus:ring-red-600 transition"
        >
        
      </div>

      
      <div class="flex flex-col gap-2">
        <label for="password-input" class="font-bold">
          Contraseña <span class="text-red-500">*</span>
        </label>
        <input
          type="password"
          id="password-input"
          name="password-input"
          autocomplete="off"
          placeholder="Contraseña"
          class="rounded-lg p-3 bg-gray-700 text-white border border-gray-600 focus:ring-2 focus:ring-red-600 transition"
        >
        
        </p>
      </div>

      
     

      
      <button 
        id="form-btn"
        class="w-full bg-red-600 hover:bg-red-700 transition text-white font-bold py-3 rounded-lg shadow-md"
      >
        Iniciar sesión
      </button>

    </form>
  </div>

  <footer class="text-center text-gray-400 text-sm py-4 border-t border-gray-700"></footer>

  <script src="../components/nav.js"></script>
  <script src="./index.js"></script>
</body>
</html>